/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:wght@400;500&display=swap");
/* Revalia */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Revalia&display=swap");

:root {
  --Accent: #34547a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  background-color: #eeeff1;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.nav {
  padding-top: 57px;
}
.nav__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 398px;
}
.nav__menu-list {
  display: flex;
  column-gap: 42px;
  list-style: none;
}
.nav__menu-link a {
  color: var(--Accent);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 164.063%; /* 26.25px */
  letter-spacing: 1.6px;
  text-decoration: none;
}
.nav__logo span {
  color: #34547a;
  text-align: center;
  font-family: Revalia;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-burger {
  display: none;
  color: #fff;
  background-color: #313d49;
  left: 290px;
  top: -28px;
}
.welcome {
  margin-bottom: 146px;
  padding-top: 162px;
}
.welcome__content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 143.1px;
}
.welcome__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
.welcome__text--title h1 {
  color: #000;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 164.063%; /* 78.75px */
}
.welcome__text-desc p {
  color: #727272;
  width: 540px;
  white-space: wrap;
  /* p */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.063%; /* 26.25px */
}
.welcome__text-btn {
  background: #34547a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 65px;
}
.welcome__text-btn a {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.063%; /* 26.25px */
  letter-spacing: 1.6px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__logo a {
  text-decoration: none;
}
.about {
  background-color: #f9f9f9;
  padding: 0 685px 0 685px;
  height: 450px;
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 500px;
}
.about__title {
  padding-top: 119px;
}
.about__title h1 {
  color: #000;
  text-align: center;

  /* h2 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about__desc p {
  color: #727272;
  text-align: center;
  width: 540px;
  /* p */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.063%; /* 26.25px */
}
.about2 {
  background-color: var(--Accent);
  padding: 100px 218px 0 220px;
  height: 250px;
}
.about2__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  display: flex;

  gap: 49px;
}
.about__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about__card-desc p {
  color: #fff;

  /* p */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.063%; /* 26.25px */
}
.about__card-desc span {
  color: #fff;

  /* h3 */
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 767px) {
  .header-burger {
    display: block;
    position: relative;
    z-index: 10;
    top: 2px;
    left: -50px;
    width: 30px;
    height: 20px;
    background-color: var(--Accent);
    /* left: -200px; */
  }
  .header-burger:before,
  .header-burger:after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
  }
  .header-burger:before {
    top: 0;
  }
  .header-burger:after {
    bottom: 0;
  }
  .nav__menu-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header-burger span {
    position: absolute;
    left: 0;
    top: 9px;
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
  }
  .header-burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-burger.active span {
    transform: scale(0);
  }
  .nav__menu {
    position: fixed;
    z-index: 2;
    top: -100%;
    left: -1%;
    width: 50%;
    height: 40%;
    color: white;
    background-color: #0e112e;
    padding: 70px 0 10px 10px;

    transition: all 0.3s ease;
  }
  .nav__menu.active {
    top: 0;
  }
  .nav__menu-list {
    display: block;
  }
  .nav__menu-list li {
    margin: 0 0 10px 0;
  }
  .nav__menu-link {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -10px;
    text-align: center;
  }
  .nav {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 200px;
  }
  .nav__logo {
    position: relative;
    left: 200px;
  }
  /* .nav__row {
    padding-left: 30px;
    width: 300px;
  } */
  .welcome {
    margin-bottom: 63px;
  }
  .welcome__content {
    display: flex;
    flex-direction: column;
  }
  .welcome__img {
    padding-bottom: 30px;
  }
  .welcome__text-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .welcome__text-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .welcome__text-desc p {
    width: 280px;
  }
  .welcome__text-btn {
    margin-left: 30px;
  }
  .about {
    padding: 0 90px 0 90px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
  }
  .about__desc p {
    width: 280px;
    margin-bottom: 63px;
  }
  .about2 {
    padding: 0 90px 0 90px;
    height: 800px;
  }
  .about__cards {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  .about__card {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about__card-desc {
    margin-left: 10px;
  }
}
